<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
        href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %} {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('elements/navbar.html.twig') }}
        {% endblock %}



        {%  for message in app.flashes('notification') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
            {{ include('message/contact.html.twig') }}
        {% endblock %}



        {% block footer %}
            {{ include('elements/footer.html.twig') }}
        {% endblock %}
    </body>
</html>
