<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        {% block navbar %}
            {{ include('elements/navbar.html.twig') }}
        {% endblock %}
        
   
        
        {%  for message in app.flashes('notification') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        
        {% block body %}
            {{ include('message/contact.html.twig') }}
        {% endblock %}



        {% block footer %}
            {{ include('elements/footer.html.twig') }}
        {% endblock %}
    </body>
</html>
