<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {%  for message in app.flashes('notification') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% block navbar %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
